body {
    margin: 0;
    font-family: Helvetica, "Source San Pro", Arial, sans-serif;
}

button {
    background-color: rgb(23, 167, 42);
    border: 1px solid rgb(17, 150, 35);
    color: #fff;
    border-radius: 0.2em;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1.5em 0.5em 1.5em;
    cursor: pointer;
    min-width: 150px;
    min-height: 60px;
}

#intro {
    text-align: center;
    min-height: calc(100vh - 0.5em);
    background-image: url("../images/intro-bg.jpg");
    /* background-size: cover; */
    background-position: -5em -15em;
    color: #eee;
    padding: 0.5em 0 0;
}
#intro p {
    background-color: rgba(0,0,0,0.5);
    padding: 0.5em;
    margin: 0;
}
#intro button {
    margin: 1em 0;
    font-size: 1.5em;
}

#logo {
    width: 50vw;
    max-width: 359px;
    opacity: 0.8;
    margin: 2em 0;
    border-radius: 10px;
}

main {
    margin: 1em;
}

#card {
    position: absolute;
    top: 0;
    left: 0;
    background-color:#eee;
    min-height: 100vh;
    width: 100vw;
}
#card.hide {
    display: none;
}
#card.show {
    display: block;
}

#card a {
    color: #444;
    display: inline-block;
    margin: 0.1em 0;
    position: relative;
    padding-left: 1.4em;
}
#card a:before {
    content: '\021AA';
    text-decoration: none;
    margin: 0.1em;
    position: absolute;
    left: 0;
    top: -2px;
}
#card video {
    width: 100vw;
    margin: -1em;
}
.panel .card-image {
    width: 100%;
}

.panel {
    max-height: 3em;
    overflow: hidden;
    transition: 0.2s linear;
    transition-property: max-height;
    cursor: pointer;
}
.panel.open {
    max-height: 100em;
}

.panel h2 {
    position: relative;
    background-color: #ddd;
    margin: 0;
    padding: 0.4em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.2em;
}
.panel h2:after {
    content: '\02795';
    font-size: 0.8em;
    position: absolute;
    right: 0.6em;
}
.panel.open h2:after {
    content: '\02796';
}

.close {
    background-color: rgba(0,0,0,0.5);
    padding: 0.3em 0.55em;
    display: inline-block;
    border-radius: 10em;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 99999;
    cursor: pointer;
}
.sdg {
    height: 3.5em;
    width: 3.5em;
    margin-right: 0.5em;
}

.column {
    padding: 0 1em 1em;
}

.year {
    position: absolute;
    z-index: 999;
    color: #fff;
    text-shadow: #000;
    font-size: 2em;
    font-weight: bold;
    margin: 0.4em;
}

.hero {
    display: block;
    height: 10em;
    border-radius: 0.5em;
    color: #fff;
    text-decoration: none;
    padding: 1em;
    background-size: cover;
    position: relative;
    margin: 1em 0;
}
.hero p {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px #000;
}

.card-hero {
    display: block;
    height: 12em;
    color: #fff;
    padding: 1em;
    background-size: cover;
    position: relative;
}
.card-hero h1 {
    color: #fff;
    position: absolute;
    z-index: 99999;
    bottom: 0.5em;
    left: 0.5em;
    margin: 0;
    text-shadow: 1px 1px 1px #000;
}

.hero.environment-glacier, .card-hero.environment-glacier {
    background-image: url("../images/environments/glacier/hero.jpg")
}
.hero.environment-rainforest, .card-hero.environment-rainforest {
    background-image: url("../images/environments/rainforest/hero.jpg")
}
.hero.environment-city, .card-hero.environment-city {
    background-image: url("../images/environments/city/hero.jpg")
}
.hero.environment-more-soon, .card-hero.environment-more-soon {
    background-image: url("../images/environments/default-hero.jpg")
}

#map {
    height: 70vh;
    width: 100vw;
    /* clip-path: circle(100% at 50% -25vw) */
}

.top-layer {
    position: absolute;
    opacity: 1;
    z-index: 9998;
    animation: fade-few 5s infinite;
}

.carousel img {
    width: 100vw;
}

.carousel { 
    position:relative;
    min-height: 250px;
    width: 100vw;
    margin: 0 -1em;
    overflow: hidden;
}
.carousel .frame { 
    position:absolute; 
    left:0;
    right:0;
    opacity:0;
    animation-iteration-count: infinite; 
}
.carousel .few {
    animation-name: fade-few;
}
.carousel .many {
    animation-name: fade-many;
}

@keyframes fade-few {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

@keyframes fade-many {
    0%   { opacity: 0; }
    11.11%   { opacity: 1; }
    33.33%  { opacity: 1; }
    44.44%  { opacity: 0; }
    100% { opacity: 0; }
}

@media screen and (min-width: 600px) {
	
	* {
	   margin: auto;
	   text-align: center;
    }
    
    .hero {
	    max-width: 400px;
	    margin: auto;
	    margin-bottom: 1em;
    }
    
	#logo {
		max-width: 250px;
	}
    
    #intro p{
	    max-width: 400px;
	    text-align: center;
	    margin: auto;
    }

    #card {
	    top: 0vw;
	    left: 10vw;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    width: 80%;
	    margin: 30px 0px 30px 0px;
    }
    
    .card-image {
	    width: 50%;
    }
    
    .carousel {
	    min-height: 60vh;
	    width: 80vw;
    }
    
    .carousel img {
	    max-width: 80vw;
    }
    
    #card-text p {
	    padding: 20px;
    }
    
   
    
    .sdg, ul, a, h4 {
	    padding-bottom: 20px;
    }
	
}