body {
    margin: 0;
    font-family: Helvetica, "Source San Pro", Arial, sans-serif;
}

button {
    background-color: #53FFAA;
    border: 1px solid #46D990;
    border-radius: 0.2em;
    font-size: 1em;
    font-weight: bold;
    padding: 0.3em;
}

#intro {
    text-align: center;
    height: calc(100vh - 1em);
    background-color: #000;
    color: #eee;
    padding: 0.5em;
}

#card {
    position: absolute;
    top: 0;
    background-color:#eee;
}
#card.hide {
    display: none;
}
#card.show {
    display: block;
}
.close {
    background-color: rgba(0,0,0,0.5);
    padding: 0.3em 0.55em;
    display: inline-block;
    border-radius: 10em;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 99999;
    cursor: pointer;
}
.column {
    padding: 1em;
}

.year {
    position: relative;
    z-index: 999;
    color: #fff;
    text-shadow: #000;
    font-size: 2em;
    font-weight: bold;
    margin: 0.4em;
}

#map {
    height: 70vh;
    width: 100vw;
    /* clip-path: circle(100% at 50% -25vw) */
}

.top-layer {
    position: absolute;
    opacity: 1;
    z-index: 9998;
    animation: fade 5s infinite;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}