body {
    margin: 0;
    font-family: Helvetica, "Source San Pro", Arial, sans-serif;
}

button {
    background-color: rgb(23, 126, 167);
    border: 1px solid rgb(17, 112, 150);
    color: #fff;
    border-radius: 0.2em;
    font-size: 1em;
    font-weight: bold;
    padding: 0.3em;
}

#intro {
    text-align: center;
    min-height: calc(100vh - 1em);
    background-image: url("../images/intro-bg.jpg");
    background-size: cover;
    background-position-x: right;
    color: #eee;
    padding: 1.5em 0.5em 0.5em;
}

#logo {
    width: 50vw;
    max-width: 359px;
    opacity: 0.8;
}

main {
    margin: 1em;
}

#card {
    position: absolute;
    top: 0;
    left: 0;
    background-color:#eee;
}
#card.hide {
    display: none;
}
#card.show {
    display: block;
}
.close {
    background-color: rgba(0,0,0,0.5);
    padding: 0.3em 0.55em;
    display: inline-block;
    border-radius: 10em;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 99999;
    cursor: pointer;
}
.column {
    padding: 1em;
}

.year {
    position: relative;
    z-index: 999;
    color: #fff;
    text-shadow: #000;
    font-size: 2em;
    font-weight: bold;
    margin: 0.4em;
}

.hero {
    display: block;
    height: 10em;
    border-radius: 0.5em;
    color: #fff;
    text-decoration: none;
    padding: 1em;
    background-size: cover;
    position: relative;
    margin: 1em 0;
}
.hero p {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 1.4em;
}

.hero.environment-arctic {
    background-image: url("../images/environments/arctic/hero.jpg")
}
.hero.environment-rainforest {
    background-image: url("../images/environments/rainforest/hero.jpg")
}
.hero.environment-city {
    background-image: url("../images/environments/city/hero.jpg")
}

#map {
    height: 70vh;
    width: 100vw;
    /* clip-path: circle(100% at 50% -25vw) */
}

.top-layer {
    position: absolute;
    opacity: 1;
    z-index: 9998;
    animation: fade 5s infinite;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}